Package: python-libipa-hbac
Source: sssd
Version: 1.11.7-3
Architecture: amd64
Maintainer: Debian SSSD Team <pkg-sssd-devel@lists.alioth.debian.org>
Installed-Size: 91
Depends: libipa-hbac0 (= 1.11.7-3), python (>= 2.7), python (<< 2.8), libc6 (>= 2.4), libpython2.7 (>= 2.7)
Section: python
Priority: extra
Homepage: https://fedorahosted.org/sssd/
Description: Python bindings for the FreeIPA HBAC Evaluator library
 The libipa_hbac-python contains the bindings so that libipa_hbac can be
 used by Python applications.
