Package: libsss-nss-idmap0
Source: sssd
Version: 1.11.7-3
Architecture: amd64
Maintainer: Debian SSSD Team <pkg-sssd-devel@lists.alioth.debian.org>
Installed-Size: 69
Depends: libc6 (>= 2.12)
Section: libs
Priority: extra
Homepage: https://fedorahosted.org/sssd/
Description: SID based lookups library for SSSD
 Utility library for SID based lookups.
