Package: sssd-ldap
Source: sssd
Version: 1.11.7-3
Architecture: amd64
Maintainer: Debian SSSD Team <pkg-sssd-devel@lists.alioth.debian.org>
Installed-Size: 169
Depends: libsss-idmap0 (= 1.11.7-3), sssd-common (= 1.11.7-3), sssd-krb5-common (= 1.11.7-3), libc6 (>= 2.14), libcomerr2 (>= 1.01), libdhash1 (>= 0.4.0), libk5crypto3 (>= 1.6.dfsg.2), libkrb5-3 (>= 1.10.2+dfsg), libldap-2.4-2 (>= 2.4.7)
Recommends: ldap-utils
Suggests: libsasl2-modules-ldap
Breaks: sssd (<< 1.10.0~beta2-1)
Replaces: sssd (<< 1.10.0~beta2-1)
Section: utils
Priority: extra
Homepage: https://fedorahosted.org/sssd/
Description: System Security Services Daemon -- LDAP back end
 Provides the LDAP back end that the SSSD can utilize to fetch identity data
 from and authenticate against an LDAP server.
